@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url("/public/fonts/vazir/Vazir-Bold-FD-WOL.ttf");
}

* {
  direction: rtl;
  font-family: "vazir" !important;
}
